# Ignore backup .git files
*.git~                # Backup .git files ending with ~

# Ignore workspace files
*.code-workspace     # Backup workspace files ending with ~

# Ignore README backup files
*README*~             # Backup README files ending with ~
